.home{

    background-color: #fcbf6b;

}

.home .title{
    font-size: 55px !important;
    font-weight: 300;
    line-height: 1.2;
    font-weight: bold;
    
}

.home .subtitle{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    color: rgb(221, 216, 216);
    font-weight: bold;
    
}
span
{
    color: #fcbf6b;
}
  

.charts-row {
  display: flex;
  gap: 100px; /* espaço entre os gráficos */
  justify-content: center; /* centraliza horizontalmente */
  flex-wrap: wrap; /* para ficar responsivo em telas pequenas */
}

.chart-container {
  width: 500px; /* mesma largura para ambos */
  text-align: center;
  color: rgb(221, 216, 216);
}

  
  .chart-header {
    font-size: 22px !important;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(221, 216, 216);
  }
  
  