table{
    width: 100%;
    background-color: #fcbf6b;
}

.edit > i{
    color: #14da14;
}

.delete > i{
    color: #e35e6b;
}
th
{
    font-family: 'Rockwell', Arial, sans-serif;
    font-size: 25px;
    color: #3C3C3C;
}
td
{
    color: #3C3C3C;
}