form {
    display: flex;
    flex-direction: column;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 16px;
  
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  
  mat-form-field {
    width: 95%;
  }
  
  mat-card-title {
    text-align: center;
    color: #fcbf6b;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    margin-bottom: 1rem;
  }
  
  button {
    margin: 20px 15px 0 0;
    font-family: 'Rockwell', Arial, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    color: #fff;
  }
  
  .btn-excluir {
    background-color: #ff0000;
  
    &:hover {
      background-color: #cc0000;
      transform: scale(1.05);
    }
  
    &:active {
      transform: scale(0.98);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
  
  .btn-cancelar {
    background-color: #c5a7aa !important;
    color: #000;
  
    &:hover {
      background-color: #a18687;
      transform: scale(1.05);
    }
  
    &:active {
      transform: scale(0.98);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
  
  /* Inputs desabilitados */
  mat-form-field input[disabled] {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 0 10px;
  }
  