<mat-card>
    <mat-card-title>Excluir Forma de Pagamento</mat-card-title>
    
    <form>
      <mat-form-field>
        <input matInput placeholder="Descrição" [value]="formaPagamento.fpgDescricao" name="fpgDescricao" disabled>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Ativo" [value]="formaPagamento.ativo ? 'Sim' : 'Não'" name="ativo" disabled>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Permite Parcelamento" [value]="formaPagamento.permiteParcelamento ? 'Sim' : 'Não'" name="permiteParcelamento" disabled>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Parcelas Máximas" [value]="formaPagamento.numeroMaximoParcelas" name="numeroMaximoParcelas" disabled>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Taxa Adicional (%)" [value]="formaPagamento.taxaAdicional" name="taxaAdicional" disabled>
      </mat-form-field>
    </form>
  
    <button mat-raised-button (click)="deleteFormaPagamento()" color="warn">
      Excluir
    </button>
  
    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>
  </mat-card>
  