<mat-card>
    <!-- Componente de cartão do Angular Material para agrupar visualmente o conteúdo -->

    <mat-card-title>Novo Cliente</mat-card-title>
    

    <form>
        <div class="form-grid">

        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="cliente.cliNome" name="cliNome">
            <!-- Campo de entrada para o nome do cliente. 
                 Usa two-way data binding com ngModel, vinculando o valor ao atributo "nome" do objeto "cliente".
                 O atributo name é necessário para o ngModel funcionar corretamente dentro de formulários. -->
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="CPF / CNPJ" [(ngModel)]="cliente.cliCpf" name="cliCpf">
            <!-- Campo de entrada para CPF ou CNPJ do cliente, vinculado ao atributo "cpfCnpj". -->
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Data de Nascimento" [(ngModel)]="cliente.dataNascimento" name="dataNascimento">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

       <mat-form-field>
  <mat-label>Forma De Pagamento</mat-label>
  <mat-select [(ngModel)]="cliente.cliformaPagamento" name="cliformaPagamento">
    <mat-option *ngFor="let cat of formaPagamento" [value]="cat">
      {{ cat }}
    </mat-option>
  </mat-select>
</mat-form-field>

        <mat-form-field>
            <mat-label>Cliente Ativo?</mat-label>
            <mat-select [(ngModel)]="cliente.cliAtivo" name="cliAtivo">
              <mat-option [value]="true">Sim</mat-option>
              <mat-option [value]="false">Não</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    </form>

    <button mat-raised-button (click)="createCliente()" color="primary">
        Salvar
    </button>
    <!-- Botão com estilo elevado do Angular Material.
         Ao ser clicado, chama o método "createCliente()", que deve estar definido no componente.
         A cor primária dá destaque visual ao botão. -->

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
    
</mat-card>
