<mat-card>
  <mat-card-title>Novo Cliente</mat-card-title>

  <form #form="ngForm" (ngSubmit)="createCliente(form)">
    <mat-card-title>Informações Pessoais</mat-card-title>
    <div class="form-grid">

      <mat-form-field>
        <input
          matInput
          placeholder="Nome"
          [(ngModel)]="cliente.cliNome"
          name="cliNome"
          required
          #cliNome="ngModel"
        />
        <mat-error *ngIf="cliNome.invalid && cliNome.touched">
          Nome é obrigatório
        </mat-error>
      </mat-form-field>

      

      <mat-form-field>
        <input
          matInput
          placeholder="CPF / CNPJ"
          [(ngModel)]="cliente.cliCpf"
          name="cliCpf"
          required
          #cliCpf="ngModel"
          [mask]="cliente.cliCpf && cliente.cliCpf.length > 14 ? '00.000.000/0000-00' : '000.000.000-00'"
          [dropSpecialCharacters]="false"
        />
        <mat-error *ngIf="cliCpf.invalid && cliCpf.touched">
          CPF / CNPJ é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="data-nascimento">
        <input
          matInput
          [matDatepicker]="picker1"
          placeholder="Data de Nascimento"
          [(ngModel)]="cliente.dataNascimento"
          name="dataNascimento"
          required
          #dataNascimento="ngModel"
        />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="dataNascimento.invalid && dataNascimento.touched">
          Data de Nascimento é obrigatória
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Estado Civil</mat-label>
        <mat-select [(ngModel)]="cliente.cliEstCivil" name="cliEstCivil" required #cliEstCivilModel="ngModel">
          <mat-option *ngFor="let cat of cliEstCivil" [value]="cat">
            {{ cat }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="cliEstCivilModel.invalid && cliEstCivilModel.touched">
          Estado Civil é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Profissão"
          [(ngModel)]="cliente.cliProfissao"
          name="cliProfissao"
          required
          #cliProfissao="ngModel"
        />
        <mat-error *ngIf="cliProfissao.invalid && cliProfissao.touched">
          Profissão é obrigatória
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cliente Ativo?</mat-label>
        <mat-select
          [(ngModel)]="cliente.cliAtivo"
          name="cliAtivo"
          required
          #cliAtivo="ngModel"
        >
          <mat-option [value]="true">Ativo</mat-option>
          <mat-option [value]="false">Inativo</mat-option>
        </mat-select>
        <mat-error *ngIf="cliAtivo.invalid && cliAtivo.touched">
          Campo obrigatório
        </mat-error>
      </mat-form-field>

    
      
    </div>

    <mat-card-title>Contato</mat-card-title>
    <div class="form-grid">
      <mat-form-field>
        <input
          matInput
          placeholder="Celular"
          [(ngModel)]="cliente.contato.conCelular"
          name="conCelular"
          required
          #conCelular="ngModel"
          mask="(00) 00000-0000"
          [dropSpecialCharacters]="false"
        />
        <mat-error *ngIf="conCelular.invalid && conCelular.touched">
          Celular é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Telefone Comercial"
          [(ngModel)]="cliente.contato.conTelefoneComercial"
          name="conTelefoneComercial"
          mask="(00) 0000-0000"
          [dropSpecialCharacters]="false"
        />
      </mat-form-field>

      <!-- Email - NÃO obrigatório -->
      <mat-form-field>
        <input
          matInput
          placeholder="E-mail"
          [(ngModel)]="cliente.contato.conEmail"
          name="conEmail"
          email
        />
      </mat-form-field>
    </div>

    <mat-card-title>Endereço</mat-card-title>
    <div class="form-grid">
      <mat-form-field>
        <input
          matInput
          placeholder="Rua"
          [(ngModel)]="cliente.endereco.endRua"
          name="endRua"
          required
          #endRua="ngModel"
        />
        <mat-error *ngIf="endRua.invalid && endRua.touched">
          Rua é obrigatória
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="Número"
          [(ngModel)]="cliente.endereco.endNumero"
          name="endNumero"
          required
          #endNumero="ngModel"
        />
        <mat-error *ngIf="endNumero.invalid && endNumero.touched">
          Número é obrigatório
        </mat-error>
      </mat-form-field>

      <!-- Cidade - NÃO obrigatório -->
      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="Cidade"
          [(ngModel)]="cliente.endereco.endCidade"
          name="endCidade"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="CEP"
          [(ngModel)]="cliente.endereco.endCep"
          name="endCep"
          required
          #endCep="ngModel"
          mask="00000-000"
          [dropSpecialCharacters]="false"
        />
        <mat-error *ngIf="endCep.invalid && endCep.touched">
          CEP é obrigatório
        </mat-error>
      </mat-form-field>

      <!-- Estado - NÃO obrigatório -->
      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="Estado"
          [(ngModel)]="cliente.endereco.endEstado"
          name="endEstado"
        />
      </mat-form-field>

      <!-- País - NÃO obrigatório -->
      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="País"
          [(ngModel)]="cliente.endereco.endPais"
          name="endPais"
        />
      </mat-form-field>
    </div>

    <div class="actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
        class="btn-salvar"
      >
        Salvar
      </button>

      <button
        mat-raised-button
        (click)="cancel()"
        type="button"
        class="btn-cancelar"
      >
        Cancelar
      </button>

      <button
        mat-raised-button
        color="warn"
        type="button"
        class="btn-limpar"
        (click)="limparCampos(form)"
      >
        Limpar
      </button>
    </div>
  </form>
</mat-card>
