<mat-card>
    <mat-card-title>Alterar Forma De Pagamento</mat-card-title>
    <form>
      <div class="form-grid">
        <mat-form-field>
            <input matInput placeholder="Descrição" [(ngModel)]="formaPagamento.fpgDescricao" name="fpgDescricao">
          </mat-form-field>
      
          <mat-form-field>
            <mat-label>Forma De Pagamento ativa?</mat-label>
            <mat-select [(ngModel)]="formaPagamento.ativo" name="ativo">
              <mat-option [value]="true">Sim</mat-option>
              <mat-option [value]="false">Não</mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field>
            <mat-label>Permite Parcelamento</mat-label>
            <mat-select [(ngModel)]="formaPagamento.permiteParcelamento" name="permiteParcelamento">
              <mat-option [value]="true">Sim</mat-option>
              <mat-option [value]="false">Não</mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field>
            <input matInput type="number" placeholder="Número Máximo de Parcelas" [(ngModel)]="formaPagamento.numeroMaximoParcelas" name="numeroMaximoParcelas">
          </mat-form-field>
      
          <mat-form-field>
            <input matInput type="number" step="0.01" placeholder="Taxa Adicional (%)" [(ngModel)]="formaPagamento.taxaAdicional" name="taxaAdicional">
          </mat-form-field>
       </div>
    </form>
    <div class="actions">
    <button mat-raised-button (click)="updateFormaPagamento()" color="primary" class="btn-salvar">
        Atualizar
    </button>
   
    <button mat-raised-button (click)="cancel()" class="btn-cancelar">
        Cancelar
    </button>
    </div>
</mat-card>