form{
    display: flex;
    flex-direction: column;
}

button
{
    margin: 20px 15px 0px 0px;
    background-color: rgb(190, 223, 245);
    color: rgb(0, 0, 0);
    font-family: 'Rockwell', Arial, sans-serif;
    font-size: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 16px;
  
  @media (max-width: 768px) {
    .form-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  }
  mat-form-field{
      width: 95%;
  }

  .btn-salvar {
    background-color: #28a745; /* Verde */
  }
  
  /* Estilo para o botão Cancelar */
  .btn-cancelar {
    background-color: #dc3545; /* Vermelho */
  }