table{
    width: 100%;
    background-color: #fcbf6b;
}

.edit > i{
    color: #14da14;
}

.delete > i{
    color: #e35e6b;
}
th
{
    font-family: 'Rockwell', Arial, sans-serif;
    font-size: 25px;
    color: #3C3C3C;
}
td
{
    color: #3C3C3C;
}

.table-title {
    font-family: 'Playfair Display', serif;
    color: #fcbf6b;
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }