.footer{
    /*posição fixa*/
    position: fixed;
    /*coloca toolbar na parte de baixa */
    bottom: 0;
    display: flex;
    /*coloca no final da linha. sendo no lado direiro parte inferior*/
    justify-content: flex-end;
    background-color: #2c2626;
    
}



.footer > span{
    font-size: 30px;
    font-weight: 300;
    color: #dac16f;
    font-family: 'Playfair Display', serif;
    background-color: #2c2626;
}