<mat-card>
  <mat-card-title>Novo Produto</mat-card-title>
  <form #form="ngForm" (ngSubmit)="createProduct(form)">
    <div class="form-grid">

      <mat-form-field>
        <input
          matInput
          placeholder="Nome"
          [(ngModel)]="product.proNome"
          name="proNome"
          required
          #proNome="ngModel"
        />
        <mat-error *ngIf="proNome.invalid && proNome.touched">
          Nome é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Preço de Custo"
          [(ngModel)]="product.proPrecoCusto"
          name="proPrecoCusto"
          required
          #proPrecoCusto="ngModel"
        />
        <mat-error *ngIf="proPrecoCusto.invalid && proPrecoCusto.touched">
          Preço de Custo é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Preço de Venda"
          [(ngModel)]="product.proPrecoVenda"
          name="proPrecoVenda"
          required
          #proPrecoVenda="ngModel"
        />
        <mat-error *ngIf="proPrecoVenda.invalid && proPrecoVenda.touched">
          Preço de Venda é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Quantidade em Estoque"
          [(ngModel)]="product.quantidadeEstoque"
          name="quantidadeEstoque"
          required
          #quantidadeEstoque="ngModel"
        />
        <mat-error *ngIf="quantidadeEstoque.invalid && quantidadeEstoque.touched">
          Quantidade em Estoque é obrigatória
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <mat-select
          [(ngModel)]="product.categoria"
          name="categoria"
          required
          #categoria="ngModel"
        >
          <mat-option *ngFor="let cat of categorias" [value]="cat">
            {{ cat }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="categoria.invalid && categoria.touched">
          Categoria é obrigatória
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Código de Barras"
          [(ngModel)]="product.codigoBarras"
          name="codigoBarras"
          required
          #codigoBarras="ngModel"
        />
        <mat-error *ngIf="codigoBarras.invalid && codigoBarras.touched">
          Código de Barras é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Marca"
          [(ngModel)]="product.marca"
          name="marca"
          required
          #marca="ngModel"
        />
        <mat-error *ngIf="marca.invalid && marca.touched">
          Marca é obrigatória
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Unidade de Medida</mat-label>
        <mat-select
          [(ngModel)]="product.unidadeMedida"
          name="unidadeMedida"
          required
          #unidadeMedida="ngModel"
        >
          <mat-option *ngFor="let unidade of unidadesMedida" [value]="unidade">
            {{ unidade }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="unidadeMedida.invalid && unidadeMedida.touched">
          Unidade de Medida é obrigatória
        </mat-error>
      </mat-form-field>
      

      <mat-form-field>
        <mat-label>Produto Ativo?</mat-label>
        <mat-select
          [(ngModel)]="product.ativo"
          name="ativo"
          required
          #ativo="ngModel"
        >
          <mat-option [value]="true">Ativo</mat-option>
          <mat-option [value]="false">Inativo</mat-option>
        </mat-select>
        <mat-error *ngIf="ativo.invalid && ativo.touched">
          Status é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker1"
          placeholder="Data de Cadastro"
          [(ngModel)]="product.dataCadastro"
          name="dataCadastro"
          required
          #dataCadastro="ngModel"
        />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="dataCadastro.invalid && dataCadastro.touched">
          Data de Cadastro é obrigatória
        </mat-error>
      </mat-form-field>

    </div>

    <div class="actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" class="btn-salvar">
      Salvar
    </button>

    <button mat-raised-button color="primary" (click)="cancel()" type="button" class="btn-cancelarr">
      Cancelar
    </button>

    <button mat-raised-button color="warn" type="button" class="btn-limpar" (click)="limparCampos(form)">
      Limpar
    </button>
  </div>
  </form>
</mat-card>
