<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>

        <div class="form-grid"> 
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="product.proNome" name="proNome">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput type="number" placeholder="Preço de Custo" [(ngModel)]="product.proPrecoCusto" name="proPrecoCusto">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput type="number" placeholder="Preço de Venda" [(ngModel)]="product.proPrecoVenda" name="proPrecoVenda">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput type="number" placeholder="Quantidade em Estoque" [(ngModel)]="product.quantidadeEstoque" name="quantidadeEstoque">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Categoria" [(ngModel)]="product.categoria" name="categoria">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Código de Barras" [(ngModel)]="product.codigoBarras" name="codigoBarras">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Marca" [(ngModel)]="product.marca" name="marca">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Unidade de Medida" [(ngModel)]="product.unidadeMedida" name="unidadeMedida">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Produto Ativo?</mat-label>
        <mat-select [(ngModel)]="product.ativo" name="ativo">
          <mat-option [value]="true">Sim</mat-option>
          <mat-option [value]="false">Não</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Data de Cadastro" [(ngModel)]="product.dataCadastro" name="dataCadastro">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Data de Atualização" [(ngModel)]="product.dataAtualizacao" name="dataAtualizacao">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    </form>
  
    <button mat-raised-button (click)="createProduct()" color="primary">
      Salvar
    </button>
  
    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>
  </mat-card>
  