form {
  display: flex;
  flex-direction: column;
  
}

button {
  margin: 20px 15px 0px 0px;
  font-family: 'Raleway', Arial, sans-serif; /* Alterando para uma fonte mais moderna */
  font-size: 16px; /* Ajuste o tamanho da fonte */
  border-radius: 25px; /* Bordas arredondadas para os botões */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease; /* Transição suave para efeitos de hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo para o botão Salvar */
.btn-salvar {
  background-color: #28a745; /* Verde */
  color: white;
}

.btn-salvar:hover {
  background-color: #218838; /* Cor mais escura no hover */
  transform: scale(1.05); /* Efeito de aumentar ao passar o mouse */
}

.btn-salvar:active {
  transform: scale(0.98); /* Efeito de clique */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve após o clique */
}

/* Estilo para o botão Cancelar */
.btn-cancelarr {
  background-color: #dc3545 ; /* Vermelho */
  color: rgb(255, 255, 255);
}

.btn-cancelarr:hover {
  background-color: #c82333 !important; /* Cor mais escura no hover */
  transform: scale(1.05); /* Efeito de aumento */
}

.btn-cancelarr:active {
  transform: scale(0.98); /* Efeito de clique */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estilo para o botão Limpar */
.btn-limpar {
  background-color: #007bff; /* Azul */
  color: white;
}

.btn-limpar:hover {
  background-color: #0056b3; /* Cor mais escura no hover */
  transform: scale(1.05); /* Efeito de aumento */
}

.btn-limpar:active {
  transform: scale(0.98); /* Efeito de clique */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estilo para o título do formulário */
mat-card-title {
  text-align: center;
  color: #fcbf6b; /* Cor do título */
  font-size: 24px; /* Ajuste o tamanho para mais destaque */
  font-family: 'Playfair Display', serif; /* Fonte mais elegante */
}

/* Estilo para o grid de formulários */
.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .form-grid {
      grid-template-columns: repeat(1, 1fr); /* Coloca os campos um abaixo do outro em telas menores */
  }
}

mat-form-field {
  width: 95%;
}

/* Adicionar borda arredondada e uma pequena sombra nos campos de entrada */
mat-form-field input {
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

mat-form-field input:focus {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Aumenta a sombra no foco */
}

